Options -Indexes
# .htaccess, composer, and other sensitive files are protected
<FilesMatch \.htaccess|composer\.json|composer\.lock|\.env|README\.md|LICENSE|CREDITS\.md>
	Order allow,deny
	Deny from all
</FilesMatch>
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule .* index.php [L,QSA]
	RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
</IfModule>