@charset "UTF-8";

:root,
[data-bs-theme="light"],
[data-bs-theme="dark"] {
  --tblr-font-sans-serif: "Inter" !important;
  --tblr-btn-disabled-border-color: #ffffff42 !important;
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/inter/inter-v12-latin_latin-ext-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter/inter-v12-latin_latin-ext-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter/inter-v12-latin_latin-ext-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter/inter-v12-latin_latin-ext-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter/inter-v12-latin_latin-ext-700.woff2") format("woff2");
}

*::-webkit-scrollbar {
  width: 7px !important;
  height: 7px !important;
  background: var(--tblr-body-bg);
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 1px var(--tblr-azure-lt) !important;
  border-radius: 0 !important;
}

*::-webkit-scrollbar-thumb {
  background: var(--tblr-border-color) !important;
  border-radius: 15px !important;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--tblr-primary) !important;
}

* {
  scrollbar-color: initial !important;
}

body {
  font-family: var(--tblr-font-sans-serif);
  font-feature-settings: "cv03", "cv04", "cv11";
}

html * {
  transition: 0.1s ease-out;
}

.kx-auth .navbar-brand-image {
  height: 6rem;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none !important;
}

[data-bs-theme="dark"] :is(.form-control:not(.form-control-flush):focus,
  .form-check-input:focus,
  .input-group-flat:focus-within .form-control:not(.form-control-flush),
  .input-group-flat:focus-within .form-control:not(.form-control-flush) ~ .input-group-text) {
  border-color: #4c75a6 !important;
}

.form-control.is-valid:not(.form-control-flush):not(:focus)~.input-group-text {
  border-color: var(--tblr-form-valid-border-color) !important;
}

.form-control.is-invalid:not(.form-control-flush):not(:focus)~.input-group-text {
  border-color: var(--tblr-form-invalid-border-color) !important;
}

a>*,
button>* {
  pointer-events: none;
}

a,
button {
  cursor: pointer;
}

[data-bs-theme="dark"] .tooltip {
  --tblr-tooltip-bg: #000 !important;
}

.empty-header {
  color: var(--tblr-dark-text-emphasis);
}

.toastn {
  background: #ffffff;
  color: #000000;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12),
    0 10px 36px -4px rgb(70 70 70 / 4%);
}

.toastn.error {
  background: #7d3939;
  color: #efdcdc;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12),
    0 10px 36px -4px rgb(125 57 57 / 53%);
}

.toastn.warning {
  background: #d19508;
  color: #fcf2dd;
  box-shadow: 0 3px 6px -1px rgb(209 149 8 / 0.12%),
    0 10px 36px -4px rgb(209 149 8 / 53%);
}

.toastn.success {
  background: #6a8b22;
  color: #cedfa9;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12),
    0 10px 36px -4px rgb(106 139 34 / 48%);
}

.btn :is(.btn-loader, .btn-text) {
  transition: 0.2s ease-out;
}

.btn .btn-loader {
  opacity: 0;
  position: absolute;
}

.btn.loading .btn-loader {
  opacity: 1;
}

.btn.loading .btn-text {
  opacity: 0;
}

/*
.input-group-flat {
  max-height: 40px;
} */
.input-group-flat:focus-within {
  box-shadow: none;
  border-radius: none;
}

.input-group-flat:focus-within .form-control {
  box-shadow: 0 0 0 0.25rem rgba(var(--tblr-primary-rgb), 0.25);
  border-radius: var(--tblr-border-radius);
}

.dashboard .page-body {
  min-height: 80vh;
}

.dropdown-menu {
  padding: 0.3rem;
}

.dropdown-menu .dropdown-item {
  border-radius: 0.2rem;
}

.dropdown-menu .dropdown-divider {
  --tblr-dropdown-divider-margin-y: 0.2rem;
}

.dropdown-menu .dropdown-item+.dropdown-item {
  margin-top: 0.2rem;
}

.dropdown-toggle:after {
  transition: 0.2s ease-out;
}

.dropdown-toggle:not(.show):after {
  transform: rotate(227deg);
}

.dropend .dropdown-toggle.show:after {
  transform: rotate(-45deg) !important;
}

.navbar-vertical .navbar-collapse .nav-item.active:after {
  transition: 0.2s ease-out;
}

.navbar-vertical .navbar-nav .nav-link .badge {
  position: relative;
  transform: none;
  top: initial;
  right: initial;
}

.notification-card {
  min-width: 25vw;
}

.list-group-hoverable .list-group-item-actions {
  --tblr-text-opacity: 1;
  color: rgba(var(--tblr-muted-rgb), var(--tblr-text-opacity)) !important;
  transition: 0.2s ease-out;
}

.list-group-hoverable .list-group-item-actions:hover {
  color: var(--tblr-danger-darken) !important;
}

.notification-count {
  font-size: 75%;
}

.notification-list {
  max-height: 40vh;
  min-height: 20vh;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
}

.notification-list .card-body {
  min-height: 100%;
}

.timeago {
  letter-spacing: 0;
  font-size: 70%;
}

.dt-container tfoot {
  display: table-header-group;
}

.navbar-overlap:after {
  height: 8.9rem;
}

.dt-buttons,
.dt-paging {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  padding: 0.8rem;
  height: 100%;
}

.dt-length,
.dt-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0.8rem;
  height: 100%;
}

.dt-info {
  opacity: 0.5;
}

[disabled] {
  opacity: var(--tblr-btn-disabled-opacity);
  pointer-events: none;
}


@media (max-width: 576px) {
  .dt-buttons,
  .dt-paging,
  .dt-length,
  .dt-info {
    justify-content: center
  }
}

@media (min-width: 992px) {
  .navbar-overlap.navbar-vertical:after {
    display: none;
  }

  .navbar-vertical.navbar-expand-lg {
    overflow-y: auto;
  }
}